:root {
	--layout-width: 1440px;
	--container-width: 1240px;
	--container-padding-x: 20px;
	--header-height: 70px;

	--font-family: 'Space Grotesk', 'sans-serif';

	--color-light: rgb(246, 246, 248);
	--color-light-alt: rgb(255, 255, 255);
	--color-dark: rgb(32, 32, 41);
	--color-dark-alt: rgb(27, 27, 29);
	--color-gold: rgb(235, 210, 128);
	--color-blue: rgb(150, 151, 240);

	--box-shadow-inset: 0 0 3px currentColor inset;
	--box-shadow: 0 0 5px 1px currentColor;
	--box-shadow-small: 0 0 2px currentColor;

	--border-radius-big: 30px;
	--border-radius: 15px;
	--border-radius-small: 7px;

	--button-height: 50px;

	--z-index-header: 1000;
	--z-index-modal: 1500;
	--z-index-overlay-close: -1500;
	--z-index-overlay-open: 1500;

	--transition-duration: 0.2s;
	--transition-duration-middle: 0.4s;
}
