@import 'normalize', 'fonts', 'variables', 'mixins', 'media', 'utils', 'globals';
@import './themes/dark', './themes/light';

.app {
    background-color: var(--theme-color-light);
    transition: background-color var(--transition-duration);
}

.content {
    padding-top: var(--header-height);
    &__inner {
        display: flex;
        column-gap: 20px;
    }
}