@import '@/app/styles/mixins';

.header {
	background-color: var(--color-dark);
	border-bottom: 1px solid var(--color-blue);
	position: fixed;
	width: 100%;
	z-index: var(--z-index-header);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: 10px;
		min-height: var(--header-height);
	}

	&__logo {
		@include fluid-text(40, 30);
		color: var(--color-blue);
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
}
