.modal {
    position: relative;
    padding: 100px;
    background-color: var(--theme-color-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--theme-color-blue);
    transform: translateY(100%);
    transition: transform var(--transition-duration-middle);

    &.active {
        transform: translateY(0);
    }
}

.close-button {
    top: 20px;
    right: 20px;
}