.app-theme-dark {
	--theme-color-light: rgb(32, 32, 41);
	--theme-color-light-alt: rgb(27, 27, 29);
	--theme-color-dark: rgb(246, 246, 248);
	--theme-color-dark-alt: rgb(255, 255, 255);
	--theme-color-blue: rgb(150, 151, 240);
}
