.app.light {
	--theme-color-light: rgb(255, 255, 255);
	--theme-color-dark: rgb(0, 0, 0);
	--theme-color-light-alt: rgb(225, 225, 235);
	--theme-color-dark-alt: rgb(62, 62, 73);
	--theme-active-color: rgb(255, 255, 255, 0.4);
}
