.app-theme-light {
	--theme-color-light: rgb(246, 246, 248);
	--theme-color-light-alt: rgb(255, 255, 255);
	--theme-color-dark: rgb(32, 32, 41);
	--theme-color-dark-alt: rgb(27, 27, 29);
	--theme-color-blue: rgb(49, 50, 99);
}
