@import '@/app/styles/media';

.button {
    padding: 0;
    border: 0;
    height: var(--button-height);
    aspect-ratio: 1;
    border-radius: var(--border-radius-small);
    background: url('./icons/ru.png')  center/150% no-repeat;
    cursor: pointer;
    color: var(--color-dark-alt);
    transition-duration: var(--transition-duration);
    opacity: 0.5;
    
    @include hover {
        opacity: 0.7;
    }

    &.eng {
        background: url('./icons/en.png') center/150% no-repeat
    }
}