@import '@/app/styles/media';

.button {
    --width-button: 65px;
	--height-button: 30px;
	width: var(--width-button);
	height: var(--height-button);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-big);
	border: none;
	cursor: pointer;
	background-color: transparent;
	color: var(--color-blue);
	box-shadow: var(--box-shadow-small);
	transition-duration: var(--transition-duration);

    @include hover {
        background-color: var(--active-color-dark);
    }

	&.active {
		.emulator {
			transform: translateX(calc(var(--width-button) / 2 - var(--height-button) / 2));
			color: var(--color-blue);
		}
	}
}

.emulator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--button-height);
	aspect-ratio: 1;
	transform: translateX(calc((var(--width-button) / 2 -  var(--height-button) / 2) * -1));
	color: var(--color-light);
	background-color: var(--color-dark);
	border-radius: 50%;
	transition-duration: inherit;
	color: var(--color-gold);
	box-shadow: var(--box-shadow);

	svg {
		animation-name: icon-appearance;
		animation-duration: 1s;
		height: 20px;
		width: 20px;
	}
}

@keyframes icon-appearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}