@import '@/app/styles/media';

@keyframes icon-appearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.button {
    --width-button: 50px;
	width: var(--width-button);
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-big);
	border: none;
	cursor: pointer;
	background-color: var(--color-light-alt);
	color: var(--color-dark-alt);
	box-shadow: var(--box-shadow-inset);
	transition-duration: var(--transition-duration);

    @include hover {
        background-color: var(--color-light);
    }

	&.active {
		.emulator {
			transform: translateX(calc(var(--width-button) / 3));
			color: var(--color-blue);
		}
	}
}

.emulator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--emulator-height);
	aspect-ratio: 1;
	transform: translateX(calc(var(--width-button) / 3 * -1));
	color: var(--color-light);
	background-color: var(--color-light);
	border-radius: 50%;
	transition-duration: inherit;
	color: var(--color-gold);
	box-shadow: var(--box-shadow);

	svg {
		animation-name: icon-appearance;
		animation-duration: 1s;
		height: 20px;
		width: 20px;
	}
}
