@import '@/app/styles/mixins';

.header {
	background-color: var(--color-dark);

	&__logo {
		@include fluid-text(25, 22);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: 5px;
		color: var(--color-light);
	}
}
