@import '@/app/styles/mixins';

.header {
	background-color: var(--color-dark-alt);

	&__logo {
		@include fluid-text(40, 30);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: 10px;
		color: var(--color-light);
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
}
